@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.blueword a {
    color: rgb(8, 93, 178);
    font-weight: 600;
}

.redword a {
    color: rgb(225, 48, 48);
    font-weight: 600;
}

.footer {
    text-align: center;
    margin-top: 5%;
    padding: 20px;
}

.fade-in, .fade-in-start {
    opacity: 0;
    transition: opacity 2s ease;
}
  
.fade-in-visible, .fade-in-visible-start {
    opacity: 1;
}

/** NavBar Styling */
* {
    background-color: rgb(252, 245, 239);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: rgb(13, 13, 13);
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: rgb(73, 73, 73);
}

.navdescription {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.navdescription p {
    text-align: left;
}

.navname {
    font-size: 30px;
    background-color: rgb(73, 73, 73);
    color: white;
}

.links {
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(73, 73, 73);
}

.navbar li {
    list-style: none;
    background-color: rgb(73, 73, 73);
}

.navbar li a {
    list-style: none;
    font-size: 22px;
    text-decoration: none;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-right: 5px solid transparent; 
    border-bottom: 10px solid transparent; 
    transition: border-color 1s ease;
}

.navbar li a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right-color: black;
    border-bottom-color: black;
}

/** Home Page Styling */

.homecontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10%;
}

.rightside {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
    flex-grow: 1; 
    align-items: center;
    justify-content: center;
}

#home img {
    max-width: 30%;
    height: auto; 
    margin-left: 10%;
}

#home p {
    line-height: 2;
}

.home-about {
    width: 50%;
    text-align: center;
    margin-top: 2%;
}

.current {
    margin-top: 5%;
}

#home p {
    font-size: 20px;
}

h1 {
    font-size: 48px;
}

/* About Page Styling **/

#about {
    margin-top: 10%;
}

#about img {
    max-width: 30%;
    height: auto; 
    margin-left: 10%;
}

#about h2 {
    text-align: center;
    margin-bottom: 4%;
    font-size: 48px;
}

/* Experience Page Styling **/

#experience {
    margin-top: 10%;
}

#experience h2 {
    text-align: center;
    margin-bottom: 4%;
    font-size: 48px;
}

.skills {
    display: flex;
    justify-content: center;
}

.languages, .technologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tech-header:hover, .lang-header:hover {
    scale: 1.1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.left-lang-column, .right-lang-column {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
}

.left-lang-column p, .right-lang-column p {
    line-height: 3;
}

.icon-span {
    letter-spacing: .5em;
}

.tech-header {
    display: flex;
    flex-direction: column;
    transition: scale 1s ease;
    border: 2px black solid;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.lang-header {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    transition: scale .5s ease, border-bottom .5s ease, border-right .5s ease;
    border: 2px black solid;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

#experience h3 {
    text-align: center;
    font-size: 26px;
}

#experience i {
    font-size: 30px;
}


/* Project Page Styling **/

#projects {
    margin-top: 10%;
}

#projects h2 {
    text-align: center;
    margin-bottom: 4%;
    font-size: 48px;
}

.project-container {
    display: flex;
    flex-direction: column;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.project-right {
    margin-right: 10%;
}

.project-right, .project-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 3px solid black;
    border-radius: 10px;
}

.project-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-languages p {
    margin: 3%;
}

/* Contact Page Styling **/

#contact {
    margin-top: 10%;
}

#contact h2 {
    text-align: center;
    margin-bottom: 4%;
    font-size: 48px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact i {
    font-size: 45px;
}

.contact p {
    font-size: 22px;
    margin-right: 3%;
}

.contact a {
    text-decoration: none;
    margin-right: 1%;
}
